**/bin/
**/obj/
**/.tmp/
**/TestResults/

**/packages/

**/.vs/
**/.suo/
**/Local.testsettings.user

**/Xamarin.Android/bin/
**/Xamarin.Android/obj/
**/Xamarin.iOS/bin/
**/Xamarin.iOS/obj/

**/platforms/android/bin/
**/platforms/android/obj/
**/platforms/ios/bin/
**/platforms/ios/obj/

*.suo
*.user
*.sln.cache